<ion-header >
  <ion-toolbar >
    <ion-title> CUI CUI Translator </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-margin">
  <ion-grid>
    <ion-row class="ion-align-items-center" >
      <ion-col >
          <ion-button  (click)="reproducir('cui_cui')" title="cuiiii cuiiiii" expand="block"  color="secondary">Quiero comida
            <div (click)="presentAlert('Cui cuiiii', 'Cuando tu cuy quiere comida o atención', 'Muy común cuando abres el refrigerador o con el ruido de una bolsa' )">
              <ion-icon   class="ion-padding" size="small" color="dark"  name="help-circle-outline"></ion-icon>
            </div>
          </ion-button>
        </ion-col>
      <ion-col >
          <ion-button  (click)="reproducir('cuicuicuicui')" title="cui cui cui cui cui"  expand="block" color="secondary">Hazme caso!
            <div  (click)="presentAlert('Cui cui cui', 'Pide atención o comida', 'Te pide atención, quizas...   ¿ Hay algo de comida ?' )">
              <ion-icon   class="ion-padding" size="small" color="dark"  name="help-circle-outline"></ion-icon>
            </div>
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" >
      <ion-col >
          <ion-button  (click)="reproducir('happy_curiosly')" title="chofff choffff"  expand="block" color="success"> Estoy content@ y relajad@
            <div (click)="presentAlert('Curioso y contento', 'Explorando!', 'Está emocionado y reconociendo el espacio en el que se encuentra.' )">
              <ion-icon   class="ion-padding" size="small" color="dark"  name="help-circle-outline"></ion-icon>
            </div>
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" >
      <ion-col>
          <ion-button  (click)="reproducir('ronroneo')" title="Ronroneo"  expand="block" color="success">  Me gusta! 
            <div (click)="presentAlert('Grrr', 'Que emoción', 'Está contento, suele emitirlo cuando lo alimentas o acaricias, este ronroneo es suave y corto.' )">
              <ion-icon   class="ion-padding" size="small" color="dark"  name="help-circle-outline"></ion-icon>
            </div>
          </ion-button>
      </ion-col>
      <ion-col>
        <ion-button  (click)="reproducir('sex')" title="Ronroneo brivante grave acompañado de balanceos"  expand="block" color="warning">  Apareamiento / Territorio
          <div  (click)="presentAlert('Cortejo', 'Marcando territorio', 'Ronroneo fuerte y brivante, suele estar acompañado de un balanceo con el cuerpo, si no hay otro cuyo cerca es que está molesto o asustado.' )">
            <ion-icon   class="ion-padding" size="small" color="dark"  name="help-circle-outline"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-end" >
      <ion-col>
        <ion-button  (click)="reproducir('quejido')" title="quejido"  expand="block" color="warning">  Déjame en paz! 
          <div  (click)="presentAlert('Molestia o disgusto', 'Puede enfadarse', 'Molestia al ser acariciado o por algun otro cuyo, tambien cuando es perseguido, se debe intentar terminar con esta situación lo antes posbile para que no se enfade.' )"> 
            <ion-icon   class="ion-padding" size="small" color="dark"  name="help-circle-outline"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button  (click)="reproducir('angry')" title="castañeo de dientes"  expand="block" color="danger">  Estoy enfadad@!! 
          <div  (click)="presentAlert('Agresividad', 'Cuidado que muerdo!', 'Se debe dejar tranquilo al cuyo, puede atacar, puede ir acompañado de alzamientos de cabeza o bostezos enseñando los dientes de forma agresiva, podría atacar. Si es entre dos cuyos o más se deben separar o podrían lastimarse mutuamente.' )">
            <ion-icon   class="ion-padding" size="small" color="dark"  name="help-circle-outline"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-end" >
      <ion-col>
        <ion-button  (click)="reproducir('pastoreo')" title="pastoreo"  expand="block" color="success">  Masticando 
          <div  (click)="presentAlert('Mmmm', 'Relajante escucharlos pastando heno', 'Siempre deben tener heno a su disposición, mientras má verde más les gustará, no olvides llenar su henera antes de trabajar o salir durante varias horas.' )">
            <ion-icon   class="ion-padding" size="small" color="dark"  name="help-circle-outline"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button  (click)="reproducir('canto')" title="Piar de pájaro"  expand="block" color="secondary">  ¿?  Canto ¿? 
          <div  (click)="presentAlert('¿Eso es un pájaro?', '¿Fuiste tú cuyito?', 'Poco común y raro de escuchar, no se sabe muy bien que necesita aunque se creee que puede estar estresado o la llamada de un bebé a su madre para ser alimentado.' )">
            <ion-icon   class="ion-padding" size="small" color="dark"  name="help-circle-outline"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
      <ion-row class="ion-align-items-end" >
      <ion-col>
        <ion-button  (click)="reproducir('chillidos')" title="chillido agudo de dolor"  expand="block" color="danger">  Ayyy!!  
          <div (click)="presentAlert('¿Qué te pasa?', 'Revisa a tu cuy, ¡algo le ocurre!', 'Chillido agudo en respuesta a un dolor o peligro inmediato.  ' )">
            <ion-icon  class="ion-padding"  size="small" color="dark" name="help-circle-outline"></ion-icon>
          </div>
        </ion-button>   
      </ion-col>
      <ion-col>
        <ion-button  (click)="reproducir('tos')" title="tos o atragantamiento"  expand="block" color="warning">  Achís  
          <div (click)="presentAlert('Achís', 'Estornudos o atragantamientos', 'Común cuando beben o comen muy rápido nada de lo que preocuparse. Si lo hacen frecuentemente cuida que no respiren polvo del sustrato (serrín o pellets de madera) ya que irrita sus pulmones, si continua debe ser llevado a un veterinarios para comprobar infecciones respiratorias u obstrucciones de garganta.' )">
            <ion-icon   class="ion-padding" size="small" color="dark"  name="help-circle-outline"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
